# ignore IDE folder and files
# IntelliJ IDEA‎
.idea/
*.iml
*.ipr
*.iws
*.log
*.sw[op]
# Eclipse 
target/
target-eclipse/
bin/
.buildpath
.classpath
.settings
.project
# common
*~
# macOS settings
.DS_Store

# grails
.slcache

# miscellanea
System.out
/tomcat.8080/

